<div class="container">
  <div class="row">
  <%= form_with model: @customer, local: true do |f| %>

  <h4>姓</h4>
  <%= f.text_field :last_name %>

  <h4>名</h4>
  <%= f.text_field :first_name %>

  <h4>姓(カタカナ)</h4>
  <%= f.text_field :last_name_kana %>

  <h4>名(カタカナ)</h4>
  <%= f.text_field :first_name_kana %>

  <h4>郵便番号</h4>
  <%= f.text_field :postal_code %>

  <h4>住所</h4>
  <%= f.text_field :customer_address %>

  <h4>電話番号</h4>
  <%= f.text_field :telephone_number %>

  <%= f.submit '変更' %>

  <% end %>
  </div>
</div>