<table>
  <thead>
    <tr class="text-center">
      <th>会員id</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td class="text-center"><%= customer.id %></td>
        <td>
        <%= link_to admin_customer_path(customer.id) do %>
        <%= customer.last_name %><%= customer.first_name %>
        </td><% end %>
        <td class="text-center px-3"><%= customer.email %></td>
        <td class="text-center px-3"><%= customer.is_deleted %></td>
      </tr>
      <% end %>
  </tbody>
</table>