<table>
  <thead>
    <tr class="text-center">
      <th>姓</th>
      <th>名</th>
      <th>住所</th>
      <th>郵便番号</th>
      <th>登録日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
  <tr>
    <div class="px-3"
    <td><%= customer.last_name %></td>
    </div>
    <td><%= customer.first_name %></td>
    <td class="px-3"><%= customer.customer_address %></td>
    <td><%= customer.postal_code %></td>
    <td class="px-3"><%= customer.created_at %></td>
    <td><%= customer.updated_at %></td>
    <td class="px-3">
    <%= link_to "詳細", admin_customer_path(customer.id) %></td>
    <td><%= link_to "編集", edit_admin_customer_path(customer.id) %></td>
    </tr>
    <% end %>
    <% if admin_signed_in? %>
    <td><%= link_to "Logout", destroy_admin_session_path, method: :delete %></td>
    <% end %>
    <%= link_to "商品一覧へ", admin_items_path %>
    <tr>

    </tr>
  </tbody>
</table>

