<table>
  <thead>
    <tr class="text-center">
      <th>会員id</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
  <td>
  <%= link_to admin_customer_path(customer.id) do %>
  <%= customer.last_name %><%= customer.first_name %>
  </td>
  <% end %>
    <td class="px-3"><%= customer.email %></td>
    <td><%= customer.is_deleted %></td>
    <td class="px-3">
    <%= link_to "詳細", admin_customer_path(customer.id) %></td>
    <td><%= link_to "編集", edit_admin_customer_path(customer.id) %></td>
    </tr>
    <% end %>
    <% if admin_signed_in? %>
    <td><%= link_to "Logout", destroy_admin_session_path, method: :delete %></td>
    <% end %>
    <%= link_to "商品一覧へ", admin_items_path %>
    <tr>

    </tr>
  </tbody>
</table>

