<div class="container">
    <div class="row">
        <h4><%= @admin_customer.last_name %><%= @admin_customer.first_name %>さんの会員詳細</h4>
    </div>

    <div class="row my-2">
        <div class="col-lg-4">
            会員ID:<%= @admin_customer.id %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            氏名：<%= @admin_customer.last_name %><%= @admin_customer.first_name %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            フリガナ:<%= @admin_customer.last_name_kana %><%= @admin_customer.first_name_kana %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            郵便番号：<%= @admin_customer.postal_code %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            住所：<%= @admin_customer.customer_address %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            電話番号：<%= @admin_customer.telephone_number %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            メールアドレス：<%= @admin_customer.email %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            会員ステータス：<%= @admin_customer.is_deleted_i18n %>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-6">
            <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success" %>
        </div>
    </div>

</div>