<div class="container">
  <div class="row">
    <h4>注文履歴詳細</h4>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <h4>購入者<%= @order.name %></h4>
      <h4>注文日<%= @order.created_at %></h4>
      <h4>配送先<%= @order.postal_code %></h4>
      <h4>支払方法<%= @order.payment_method %></h4>
    </div>
  </div>

  <div class="row mt-5">
    <table>
      <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <% @details.each do |detail| %> <%#コントローラーで1回紐付けてから、each doで抽出後、もう1回紐付け先から持ってくる事はできる%>
        <td><%= detail.item.name %></td>
        <td class="text-center"><%= detail.price %></td>
        <td class="text-center"><%= detail.amount %></td>
        <td class="text-center"><%= detail.price * detail.amount %></td>
      </tr>
      <% end %>
    </table>

    <div class="col-lg-6 my-2">
      商品合計:  <%= @order.total_payment %>円<br>
      送料：  <%= @order.postage %>円<br>
      請求額合計：  <%= @order.total_payment +  @order.postage %>円
    </div>
  </div>
</div>
