<div class="container">
  <div class="row">
  <table>
    <thead>
      <tr>
        <th class="text-start">会員id</th>
        <th class="text-center">宛名</th>
        <th>郵便番号</th>
        <th class="text-center">住所</th>
      </tr>
    </thead>
    <div class="col-md6">
    <% @addresses.each do |address| %>
    <tbody>
      <tr>
        <td><%= address.customer_id %></td>
        <td><%= address.name %></td>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= link_to "編集", edit_address_path(address.id) %></td>
      </tr>
    </tbody>
    <% end %>
    </div>
  </table>
  </div>
</div>

<%= form_with model:@address, local:true do |f| %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <p>宛名：<%= f.text_field :name %></p>
  <p>郵便番号：<%= f.number_field :postal_code %></p>
  <p>住所：<%= f.text_field :address %></p>
  <p></p>
  <%= f.submit "住所登録" %>
<% end %>



