<table>
    <thead>
        <th>商品</th>
        <th></th>
        <th>価格</th>
        <th>個数</th>
        <th>合計金額</th>
    </thead>

    <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 50, 50 %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
            <td><%= link_to "削除", "/cart_items/#{cart_item.id}", method: :delete %></td>
        </tr>
        <% @total += cart_item.subtotal %>
        <% end %>
    </tbody>
</table>

<div class="my-2">合計金額：<%= @total %></div><br>
<div class="">
    <%= link_to "注文する", new_order_path %>
    <%= link_to "カートを空にする", destroy_all_path, method: :delete %>
</div>
