<div class="container">
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>税込価格</th>
        <th>数量</th>
        <th>総計</th>
      </tr>
    </thead>
    <tbody>
    <% @cart_items.each do |cart| %>
      <tr>
        <td><%= cart.item.name %></td>
        <td><%= (cart.item.price).to_s(:delimited) %></td>
        <td><%= cart.amount %></td>
        <td><%= (cart.item.price * cart.amount).to_s(:delimited) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="row">
    <p>お届け先</p>
    <%= @order.address %>
  </div>

  <%= form_with model:@order local:true do |f| %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :name %>
    <%= f.submit "注文を確定する" %>
  <% end %>
</div>
