<div class="container">
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>税込価格</th>
        <th>数量</th>
        <th>総計</th>
      </tr>
    </thead>
    <tbody>
    <% @cart_items.each do |cart| %>
      <tr>
        <td><%= cart.item.name %></td>
        <td><%= (cart.item.with_tax_price).to_s(:delimited) %></td>
        <td><%= cart.amount %></td>
        <td><%= cart.subtotal %></td>
      </tr>
      <% @total += cart.subtotal %>
    <% end %>
    </tbody>
  </table>
  <div class="row">
    支払方法:<%= @order.payment_method %>
    お届け先:<%= @order.postal_code %><%= @order.address %><%= @order.name %>
    請求額：<%= @total %>
  </div>
  <%= form_with model:@order, local:true do |f| %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :total_payment, value: @total.to_i %>
    <%= f.submit "注文を確定する" %>
  <% end %>
</div>
