<div class="container">
  <div class="row">
    <div class="col">
      注文日：<%= @order.created_at %>
    </div>
    <div class="col">
      配送先：<%= @order.postal_code %><%= @order.address %>
    </div>
    <div class="col">
      支払方法：<%= @order.payment_method %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      注文した商品
    </div>
  </div>
  <div class="row">
    <div class="col">
      商品名：<%= @order_detail.item.name %>
    </div>
    <div class="col">
      単価：<%= @order_detail.item.price %>
    </div>
    <div class="col">
      個数：<%= @order_detail.amount %>
    </div>
    <div class="col">
      小計：<%= @order_detail.price %>
    </div>
  </div>
</div>