<div class="container">
  <div class="row">
  <%= form_with model:@cart_item, local:true do |f| %>
    <div class="col-md-6">
    <%= attachment_image_tag @item, :image, :fill, 150, 100 %>
    </div>
    <div class="col-md-12">
    <p class="font-weight-bold"><%= @item.name %></p>
    </div>
    <p class=""><%= @item.introduction %></p>
    <p class="font-weight-bold">¥<%= @item.price %></h4>



  <%= f.hidden_field :item_id, value: @item.id %>
  <p>数量:<%= f.select :amount, *[1..3] %></p>

  <%= f.submit "カートに入れる" %>
  <% end %>
  </div>
</div>